@inject NavigationManager navigationManager
@page "/updated-password/{Id}"
@using Microsoft.AspNetCore.Authorization;
@using PasswordManagerBlazor.Shared.DTOs;
@inject NavigationManager navigationManager
@inject HttpClient HttpClient
@attribute [Authorize]



<head>
    <meta charset="UTF-8">
    <link href="css/main.css" rel="stylesheet" />
    <link href="css/alerts.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <EditForm Model="passwordModel" OnValidSubmit="HandleValidSubmit">
                <h2>Edit existing password details</h2>
                <br>
                <div class="form-group">
                    <InputText id="firstName" class="form-control" @bind-Value="passwordModel.Email" placeholder="Login" />
                    @* Add validation error display if needed *@
                </div>
                <div class="form-group">
                    <InputText id="lastName" class="form-control" @bind-Value="passwordModel.Url" placeholder="Website url" />
                    @* Add validation error display if needed *@
                </div>
                <div class="form-group">
                    <InputText id="email" class="form-control" @bind-Value="passwordModel.PasswordHash" placeholder="Password" />
                    @* Add validation error display if needed *@
                </div>
                <div class="form-group">
                    Sugested password:
                    <i>@strongPass</i>
                </div>
                <br>
                <div class="form-group">
                    <button>Update</button>
                </div>
            </EditForm>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1>Need to use other passwords?</h1>
                    <p>Go back to main page:</p>
                    <button class="ghost" id="signUp" @onclick="NavigateToHome" value="Home">Home</button>
                </div>
            </div>
        </div>
    </div>
    </body>
<style>
    #blazor-error-ui {
        display: none;
    }
</style>
@code {
    private PasswordModel passwordModel = new PasswordModel();
    private string strongPass = "we suggest"; // Przykład, powinieneś zaktualizować logikę generowania hasła
    
    [Parameter]
    public string Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // Use HttpClient to fetch the password data
        var passwordDto = await HttpClient.GetFromJsonAsync<PasswordDto>($"api/password/{Id}");

        // Assign the fetched data to the password model
        passwordModel.Email = passwordDto.Email;
        passwordModel.Url = passwordDto.Url;
        passwordModel.PasswordHash = passwordDto.PasswordHash;
    }

    private async Task HandleValidSubmit()
    {
        
        // Create a PasswordDto from the password model
        var passwordDto = new PasswordDto
            {
                Id = int.Parse(Id),
                Email = passwordModel.Email,
                Url = passwordModel.Url,
                PasswordHash = passwordModel.PasswordHash,
            };

        // Use HttpClient to send the updated password data to the server
        var response = await HttpClient.PutAsJsonAsync($"api/password/{Id}", passwordDto);

        if (response.IsSuccessStatusCode)
        {
            // If update is successful, navigate to another page or update the UI
            navigationManager.NavigateTo("/index");
        }
    }

    private void NavigateToHome()
    {
        navigationManager.NavigateTo("/");
    }

    public class PasswordModel
    {
        public string Email { get; set; }
        public string Url { get; set; }
        public string PasswordHash { get; set; }
    }
}


