@inject NavigationManager navigationManager
@page "/updated-password"

<h2>Update this entry</h2>

<body>
    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <EditForm Model="passwordModel" OnValidSubmit="HandleValidSubmit">
                <h1>Edit existing details</h1>
                <br>
                <div class="form-group">
                    <InputText id="firstName" class="form-control" @bind-Value="passwordModel.Email" placeholder="Login" />
                    @* Add validation error display if needed *@
                </div>
                <div class="form-group">
                    <InputText id="lastName" class="form-control" @bind-Value="passwordModel.Url" placeholder="Website url" />
                    @* Add validation error display if needed *@
                </div>
                <div class="form-group">
                    <InputText id="email" class="form-control" @bind-Value="passwordModel.PasswordHash" placeholder="Password" />
                    @* Add validation error display if needed *@
                </div>
                <div class="form-group">
                    Sugested password:
                    <i>@strongPass</i>
                </div>
                <br>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Update</button>
                </div>
            </EditForm>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1>Need to use other passwords?</h1>
                    <p>Go back to main page:</p>
                    <button class="ghost" id="signUp" @onclick="NavigateToHome" value="Home">Home</button>
                </div>
            </div>
        </div>
    </div>
    </body>

@code {
    private PasswordModel passwordModel = new PasswordModel();
    private string strongPass = "we suggest"; // Przykład, powinieneś zaktualizować logikę generowania hasła

    private async Task HandleValidSubmit()
    {
        // Implement your update logic here
        // If update is successful, navigate to another page or update the UI
    }

    private void NavigateToHome()
    {
        navigationManager.NavigateTo("/");
    }

    public class PasswordModel
    {
        public string Email { get; set; }
        public string Url { get; set; }
       public string PasswordHash { get; set; }
    }
}

